* {
 font-family: "Arial","メイリオ","ＭＳ Ｐゴシック","Osaka","verdana","palatino","sans-serif";
 font-size: 12px;
}

html {
 margin: 4px;
 padding: 4px;
}

body {
 background: #ffffff;
 font-size: 12px;
 color: #333;
 margin: 0;
 padding: 0;
}

form {
 padding-bottom: 40px;
}

#screenshot-sender-header {
 height: 32px;
}

#screenshot-sender-body-field {
}

#screenshot-sender-body-field p {
 margin: 0;
 padding: 4px 16px 0 4px;
}

.ui-multiselect {
 margin: 4px 0 0 0;
}

#screenshot-sender-body-field p {
 position:relative;
}

.screenshot-sender-item-label {
 position: absolute; 
 z-index: 1;
 top: 8px; 
 left: 10px;
 color: #cccccc;
 font-size: 14px;
 font-weight: normal;
}

#screenshot-sender-body-field input {
 position: relative;
 z-index: 3;
 border-radius: 8px;
 -moz-border-radius: 8px;
 padding: 4px;
 border: 1px solid #ccc;
 display: block;
 width: 100%;
 background: transparent;
}

#screenshot-sender-body-field textarea {
 position: relative;
 z-index: 3;
 border-radius: 8px;
 -moz-border-radius: 8px;
 padding: 4px;
 border: 1px solid #ccc;
 width: 100%;
 height: 160px;
 background: transparent;
}

#image-wrap {
 text-align: center;
}

.screenshot-sender-property {
 display: block;
 margin: 0 4px 0 32%;
 width: 60%;
}

.screenshot-sender-property label {
 display: inline-block;
 float-left;
}

#screenshot-sender-property-summary {
 width: 352px;
}

#screenshot-sender-application-image {
 float: left;
 vertical-align: 0px;
}

h1 {
 float: left;
 margin: 0;
 padding: 4px 8px 0 8px;
 height: 32px;
 font-size: 20px;
}

h2 {
 margin: 0;
 padding: 8px 0 4px 0;
 border-bottom: dashed 1px #ccc;
 font-size: 12px;
}

#screenshot-sender-image-field {
 position: absolute;
 top: 8px;
 left: 100%;
 margin: 0 0 0 -270px;
 z-index: 100;
 width: 240px;
/* height: 16px; /**/
 height: 136px; /**/
 float: right;
 background: #999;
 padding: 8px;
 border-radius: 4px;
 -moz-border-radius: 4px;
 overflow: hidden;
}

#screenshot-sender-image-field p {
 padding: 0;
 margin: 0 0 12px 0;
 width: 120px;
}

#screenshot-sender-image-field p span {
 color: #ffffff;
 padding-left: 20px;
 background: no-repeat;
 text-decoration: underline;
 cursor: pointer;
}

#screenshot-sender-image-field ul {
 margin: 0 0 0 120px;
 padding: 0;
}

#screenshot-sender-image-field ul li {
 display: inline;
 float: right;
 padding: 0;
 margin: 0 0 0 4px;
}

#screenshot-sender-image-field ul li a {
 color: #333;
 background: #ccc;
 padding: 2px;
 border: #666 1px solid;
 border-radius: 4px;
 text-decoration: none;
}

#screenshot-sender-image-field ul li a:hover {
 color: #f00;
 background: #ccc;
}


#screenshot-sender-property-field {
 clear: both;
}

#screenshot-sender-image {
 -moz-box-shadow: 2px 2px 10px #000;
 -webkit-box-shadow: 2px 2px 10px #000;
}

#screenshot-sender-image-field p span#screenshot-sender-image-open {
 text-decoration: none;
}

#screenshot-sender-image-field-save, #screenshot-sender-image-field-edit {
 display: inline-block;
 width: 16px;
 height: 16px;
 background: transparent none no-repeat center;
 cursor: pointer;
 opacity: 0.75;
}
#screenshot-sender-image-field-save:hover, #screenshot-sender-image-field-edit:hover {
 opacity: 1;
}
#screenshot-sender-image-field-save { background-image: url(images/save.png) }
#screenshot-sender-image-field-edit { background-image: url(images/edit.png) }

#screenshot-sender-property-list {
 margin: 12px 0 0 0 ;
 padding: 0 0 12px 0;
}

#screenshot-sender-property-list li {
 list-style: none;
 float: left;
 width: 40%;
 min-width: 270px;
 min-height: 22px;
 padding: 2px;
}

#screenshot-sender-property-list input {
 border: 1px #ccc solid;
}

#screenshot-sender-property-list select {
 border: 1px #ccc solid;
}

.screenshot-sender-properties-label {
 float: left;
 font-weight: bold;
 display: inline-block;
 width: 30%;
 vertical-align: top;
 text-align: right;
 padding: 2px 4px 2px 2px;
 font-weight: bold;
}

.screenshot-sender-radio-label {
 font-weight: normal;
}
.property-items {
}

#screenshot-sender-property-loading {
 clear: both;
 text-align: center;
}

#screenshot-sender-property-block-footer {
 border-bottom: dashed 1px #ccc;
 height: 12px;
 clear: both;
}

#footer {
 position: fixed;
 margin: -50px 0 0 0;
 padding: 12px 0 0 0;
 text-align: center;
 top: 100%;
 left: 0;
 width: 100%;
 height: 38px;
 background: #fff;
}

#screenshot-sender-submit-wrapeer {
 padding: 0;
 position: absolute;
 text-align: center;
 width: 100%;
}

#screenshot-sender-account-dialog {
 display: none;
}

#screenshot-sender-property-reporter-wrapper {
 display: none;
}

#screenshot-sender-open-ticket-wrapper {
 position: relative;
 z-index: 10;
 margin: 0 8px 0 auto;
 display: block;
 width: 200px;
 text-align: right;
}

#screenshot-sender-login-field label span, #screenshot-sender-login-field span.label {
 display: inline-block;
 width: 100px;
}

